$def with(datos)

<h1>Base de datos</h1>
<a href="/productos/insert">
    <h4>
        <p>Nuevo producto <span class="glyphicon glyphicon-plus"></span></p>
    </h4>
</a>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                <h4>>ID</h4>
            </th>
            <th scope="col">
                <h4>>Nombre</h4>
            </th>
            <th scope="col">
                <h4>>Lote</h4>
            </th>
            <th scope="col">
                <h4>>Existencias</h4>
            </th>
            <th scope="col">
                <h4>>Fecha de caducidad</h4>
            </th>
            <th scope="col">
                <h4>>Update</h4>
            </th>
            <th scope="col">
                <h4>>Delete</h4>
            </th>
        </tr>
    </thead>
    $for row in datos:
    <tbody>
        <tr>
            <td><a href="/productos/view/$row.id_producto">
                    <h4>$row.id_producto</h4>
                </a></td>
            <td><a href="/productos/view/$row.id_producto">
                    <h4>$row.nombre_producto</h4>
                </a></td>
            <td><a href="/productos/view/$row.id_producto">
                    <h4>$row.lote_producto</h4>
                </a></td>
            <td><a href="/productos/view/$row.id_producto">
                    <h4>$row.existencia_producto</h4>
                </a></td>
            <td><a href="/productos/view/$row.id_producto">
                    <h4>$row.fecha_caducida_producto</h4>
                </a></td>

            <td><a href="/productos/delete/$row.id_producto">
                    <h4>Delete <span class="glyphicon glyphicon-trash"></span>
                </a></td>
            <td><a href="/productos/update/$row.id_producto">
                    <h4>Update <span class="glyphicon glyphicon-cog">
                </a></td>
        </tr>
    </tbody>
</table><br>