<h1>Insert</h1>

<form method="POST">
    <label for="id">ID</label>
    <input type="text" id="id" name="id" placeholder="ID" class="form-control"><br>

    <label for="nombreProducto">Nombre</label>
    <input type="text" id="nombreProducto" name="nombreProducto" placeholder="Nombre de producto" class="form-control"><br>

    <label for="loteProducto">Lote</label>
    <input type="text" id="loteProducto" name="loteProducto" placeholder="0" class="form-control"><br>

    <label for="existenciaProducto">Existencias</label>
    <input type="text" id="existenciasProducto" name="existenciaProducto" placeholder="0" class="form-control"><br>

    <label for="fechaCProducto">Fecha de caducidad</label>
    <input type="text" id="fechaCProducto" name="fechaCProducto" placeholder="AAAA / MM / DD" class="form-control"><br>

    <button type="submit" class="btn btn-primary">Insert</button>
</form>
<br>
<a href="/productos">pagina anterior...</a>