<h1>Insertar</h1>

<form method="POST">
    <label for="id">ID</label>
    <input type="text" id="id" name="id" placeholder="ID" class="form-control"><br>

    <label for="nombreCliente">Nombre</label>
    <input type="text" id="nombreCliente" name="nombreCliente" placeholder="Nombre" class="form-control"><br>

    <label for="apellidoPC">Apellido Paterno</label>
    <input type="text" id="apellidoPC" name="apellidoPC" placeholder="Apellido Paterno" class="form-control"><br>

    <label for="apellidoMC">Apellido Materno</label>
    <input type="text" id="apellidoMC" name="apellidoMC" placeholder="Apellido Paterno" class="form-control"><br>

    <label for="telefonoCliente">Telefono</label>
    <input type="text" id="telefonoCliente" name="telefonoCliente" placeholder="Telefono" class="form-control"><br>

    <label for="emailCliente">Email</label>
    <input type="text" id="emailCliente" name="emailCliente" placeholder="Email" class="form-control"><br>

    <button type="submit" class="btn btn-primary">Insert</button>
</form><br>
<a href="/clientes">Pagina anterior...</a>